@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500;600;700&display=swap");
* {
  color: rgb(163, 163, 163);
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #16161e;
}

.logo {
  width: 20%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

h1 {
  font-size: 2.9rem;
  font-weight: 700;
  margin-top: 2rem;
}

h2 {
  font-weight: 200;
  font-size: 1.7rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.navLI {
  margin: 4px;
  text-decoration: none;
  list-style-type: none;
  display: inline;
  font-weight: 400;
  font-size: 1.4rem;
}

.navLI:hover {
  color: rgb(224, 221, 221);
}

.about {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.skillsBox {
  background-color: #262631be;
  height: fit-content;
  padding-bottom: 1.1rem;
  width: 20rem;
  border-radius: 1rem;
  margin: 1rem;
}

.skillsTitle {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.skillsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  margin-top: 1rem;
}

.skillItem {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 8px;
}

.infoBox {
  background-color: #262631be;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  margin: 1rem;
}

.infoTitle {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.infoText {
  margin: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
  text-align: center;
  width: 35rem;
}

.infoButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2rem;
}

.infoSnippet {
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 1rem;
}

.githubIcon {
  height: 2.5rem;
}

.projectsTitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  background-color: #262631be;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  padding: 10px 20px;
  border-radius: 12px;
}

.projectPage {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.projectBox {
  background-color: #262631be;
  margin-top: 3rem;
  width: 30rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
}

.projectImage {
  border-radius: 1rem;
  width: 100%;
}

.projectImage:hover {
  transform: scale(1.05);
  transition: ease-in-out 300ms;
}

.projectName {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 8px;
}

.projectText {
  margin-top: 1rem;
  text-align: center;
}

.contactPage {
  margin-top: 1rem;
}

.contactTitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  background-color: #262631be;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  padding: 10px 20px;
  border-radius: 12px;
}

.contactInfo {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #262631be;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  padding: 10px 20px;
  border-radius: 12px;
}

.contactEmail {
  color: rgb(226, 225, 225);
}

.contactEmailLink {
  text-decoration: none;
}

footer {
  margin: 2px;
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
  }

  .skillItem {
    font-size: 1.4rem;
  }

  .infoBox {
    width: fit-content;
  }

  .infoText {
    width: 20rem;
    text-align: center;
  }

  .logo {
    width: 50%;
  }

  .projectPage {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .projectsTitle {
    margin-top: 11px;
  }

  .projectBox {
    width: 75%;
  }

  .contactTitle {
    margin-top: 8px;
  }

  .contactInfo {
    width: 75%;
  }
}
